{
    "yt-api-key": "", 
    "ems-event-id": "3", 
    "ems-url": "https://ems.example.com", 
    "event-name": "My Event",
    "ics-url": "",
    "room-assignments": [
        {
            "ems-room-id": 1,
            "room-name": "My room",
            "yt-video-id": "",
            "twitch-streamer-name": ""
        }
    ],
    "twitch-client-id": "",
    "twitch-client-secret": ""
}